@import '../../index.scss';

.now_playing--wrapper {
    display: grid;
    grid-template-columns: auto calc(100% / 3) ;
    gap: 1rem;
}

.now_playing--console {
    background-color: $placeholder;
}
