@import '../styles.scss';

.scroll--wrapper {
    position: relative;
    height: calc(100dvh - 11rem);
    overflow-y: scroll;
    margin-right: .5rem;
    padding-right: .5rem;
    background-color: $placeholder;
    outline: 1rem solid white;
    border-radius: 1.5rem;
}
