@import '../../index.scss';

.new_playlist_item--wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;
}

.new_playlist_item--play {
    position: absolute;
    z-index: 5;
    left: .5rem;
    top: .5rem;
}

.new_playlist_item--options {
    position: absolute;
    right: 0;
    bottom: 0;
}

.song_item--progress {
    position: absolute;
    background-color: $main;
    transition: all .2s linear;
    border-radius: .5rem;
    opacity: .05;
    height: 100%;
    left: 0;
    z-index: 1;
}
