@import url('../../index.css');

.new_artist--wrapper {
    padding: 30px;
    background-color: var(--background);
    height: 100%;
}

.new_artist--title {
    margin: 0;
    font-size: 30px;
}

.new_artist--form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.new_artist--action {
    margin-top: 60px;
}
