@import url('../../index.css');


.input--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0 0 0;
    width: 100%;
}

.input--input {
    border: 1px solid var(--border);
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    width: 100%;
}

.select--select {
    margin: 40px 0 0 0;
    position: relative;
    align-self: flex-start;
}

.select--wrapper {
    border: 1px solid var(--border);
    padding-right: 10px;
    border-radius: 5px;
    width: 150px;
}

.input--select {
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
}

.input--select:focus {
    outline: transparent
}

.input--textarea {
    border: 1px solid var(--border);
    height: 100px;
    padding: 15px;
    resize: none;
    border-radius: 5px;
    width: 100%;
}

.input--input:focus {
    outline: transparent;
    border: 2px solid var(--orange)
}

.input--textarea:focus {
    outline: transparent;
    border: 2px solid var(--orange)
}

.input--error {
    border: 2px solid var(--error);
}

.input--label {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: -20px;
    color: var(--text-body)
}

.input--icon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 12.5px;
    color: var(--text-body);
    cursor: pointer;
}

.input--icon:hover {
    color: var(--text-label)
}

.input_error--wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    color: var(--error);
    font-weight: 500;
}
