@import url('../../index.scss');

.btn--icon {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.close {
    background-color: white;
}

.close:hover {
    background-color: var(--white-hover);
}

.cancel {
    border: 1px solid var(--border);
    color: var(--text-body);
    background-color: white;
}

.cancel:hover {
    background-color: var(--white-hover);
}

.delete {
    border: none;
    color: white;
    background-color: var(--orange);
}

.delete:hover {
    background-color: var(--orange-hover);
}

.flip {
    transform: rotate(180deg);
}

.back {
    position: absolute;
    left: 15px;
    top: 15px;
    border: none;
}

.disabled {
    background-color: var(--border);
    border: none;
    color: var(--text-body);
    pointer-events: none;
}

.new-artist {
    background-color: white;
    color: var(--text-body);
    padding: 0;
}

.new-artist:hover {
    color: var(--orange);
}

.new-artist .btn--icon {
    background-color: var(--border);
    padding: 5px;
    border-radius: 50px;
    color: var(--orange);
}
