@import '../../index.scss';

.dashboard--wrapper {
    height: 100dvh;
    @include grid();
    grid-template-rows: auto 5rem;
    grid-template-areas:
    "aside aside main main main main main main main main main main"
    "media media media media media media media media media media media media";
    grid-gap: 0rem;
}

.dashboard--main {
    grid-area: main;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.dashboard--media {
    grid-area: media;
}

.navigation--wrapper {
    display: grid;
    grid-template-columns: repeat(9, $unit);
    grid-template-areas:
    "player player player player player player player . . menu";
}

.main--wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer--wrapper {
    background-color: white;
    height: 3rem;
}
