#root {
    --orange: rgb(255, 122, 0);
    --orange-hover: #DA5B00;
    --orange-dark: #120f0d;
    --white-hover: #F5F5F5;
    --text-body: #5A5A5A;
    --text-heading: #333333;
    --text-label: #B8B8B8;
    --border: #E8E8E8;
    --border-active: #B8B8B8;
    --error: #e72424;
    --placeholder: #d8d8d8;
    --background: #fbfbfb;
}

$main: #f34e77;
$mainDark: #e21e4f;
$unit: calc(100dvw / 12);
$test: #dcdcdc;
$primary_font: 'Outfit';
$placeholder: #f5f5f5;
$hover: #eeeeee;
$tint: #fbfbfb;
$error: #e72424;
$background: #B8B8B8;
$box_shadow:  1px 1px 5px 1px rgba(0,0,0,.05);
$selected: #fff2f5;



@mixin grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
}

@mixin mainFont {
  font-family: $primary_font;
}

html, body {
    margin: 0;
    padding: 0
}

* {
    font-family: 'Outfit';
    box-sizing: border-box;
    /* transition: all 0.2s; */
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#app--wrapper {
    height: 100dvh;
    width: 100dvw;
}

.bold {
  font-weight: 600;
}

.md {
  font-size: 1rem;
}

.sm {
  font-size: .85rem;
}

.header {
  line-height: 1rem;
  height: 2rem;
  padding: 1rem;
  padding-top: 0rem;
}

.label {
  font-size: .85rem;
  font-weight: 600;
  opacity: .5;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 1rem;
    height: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $mainDark
  }




/* Largest devices such as desktops (1280px and up) */
@media only screen and (width <= 100em) {
  html, body {
    font-size: 14px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (width <= 64em) {
  html, body {
    font-size: 11px;
  }

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (width <= 48em) {
  html, body {
    font-size: 12px;
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (width <= 40em) {

}
