@import url('../../index.css');


.mezzo_player--mini {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "controls display volume"
    ;
    gap: 60px;
    width: 80%;
}

.mezzo_player--full {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 400;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.now_playing_controls--wrapper {
    grid-area: controls;
}

.mezzo_player--player {
    grid-area: display;
    position: relative;
}

.mezzo_player--mini {
    .now_playing_display--wrapper {
        display: flex;
        align-items: center;
        height: 45px;
        background-color: var(--background);
        border: 1px solid var(--border);
        border-radius: 5px;
        justify-content: space-between;
    }
}

.mezzo_player--full {
    .now_playing_display--wrapper {
        display: flex;
        flex-direction: column;
    }
}


.mezzo_player--mini {
    .now_playing_player--information {
        display: flex;
        flex: 1;
    }
    .now_playing_player--artist {
        margin: 0;
        font-size: 12px;
        color: var(--orange);
        cursor: pointer;
    }

    .now_playing_player--artist:hover {
        text-decoration: underline;
    }
    .now_playing_player--name {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-size: 12px;
    }

    .now_playing_player--image {
        height: 45px;
        aspect-ratio: 1;
        background-color: var(--placeholder);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 5px 0 0 5px;
        background-repeat: no-repeat;
    }

    .now_playing_player--image img {
        height: 25px;
        position: relative;
        right: 2px;
    }

    .mezzo_player--current_time {
        position: absolute;
        left: 10px;
        font-size: 8px;
        top: 0px;
    }

    .mezzo_player--time {
        position: absolute;
        right: 10px;
        font-size: 8px;
        top: 0px;
    }

    .now_playing_player--expand {
        padding: 11px 12px;
        aspect-ratio: 1;
        border-left: 1px solid var(--border);
        font-size: 20px;
        color: var(--text-label);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }

    .now_playing_player--expand:hover {
        color: var(--text-body);
    }

}

.mezzo_player--full {
    .now_playing_player--information {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        margin: 50px auto;
    }

    .now_playing_player--text h1 {
        margin: 0;
        font-size: 25px;
        color: var(--text-body)
    }

    .now_playing_player--text h2 {
        margin: 0;
        font-size: 20px;
        color: var(--orange)
    }

    .now_playing_player--text p {
        color: var(--text-body)
    }

    .now_playing_player--image {
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--placeholder);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        aspect-ratio: 1;
        border-radius: 10px;
        margin: 0 auto;
    }

    .now_playing_player--image img {
        height: 200px;
        position: relative;
        right: 15px;
    }

    .mezzo_player--current_time {
        position: absolute;
        left: 0px;
        color: var(--text-label);
        font-size: 12px;
        top: 20px;
    }

    .mezzo_player--time {
        position: absolute;
        right: 0px;
        font-size: 12px;
        top: 20px;
        color: var(--text-label);
    }
}

.mezzo_player--mini {
    .now_playing_controls--wrapper{
        display: flex;
        align-items: center;
    }

    .now_playing_control {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-body);
        cursor: pointer;
    }

    .now_playing_control:hover {
        color: var(--text-label)
    }

    .play {
        font-size: 25px;
    }

    .skip {
        font-size: 20px;
    }
}

.mezzo_player--full {
    .now_playing_controls--wrapper {
        padding: 50px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .now_playing_control {
        font-size: 20px;
        cursor: pointer;
        color: var(--text-body);
    }

    .now_playing_control:hover {
        opacity: .5;
    }

    .play {
        font-size: 40px;
    }

    .skip {
        font-size: 30px;
    }
}

.mezzo_player--mini {
    .now_playing_progress--wrapper {
        position: absolute;
        margin: 0 45px 0 0 ;
        width: calc(100% - 90px);
        bottom: -4px;
        right: 0;

    }
    .now_playing_progress--contents {
        position: relative;
        width: 100%;
        left: 1px;
    }

    .mezzo_player--progress_bar {
        --range-progress: 0;
        width: 100%;
        border: none;
        margin: 0;
        height: 2px;
        background-color: var(--border);
        appearance: none;
        border-radius: 0;
        cursor: pointer;
    }

    .mezzo_player--progress_bar_highlight {
        position: absolute;
        height: 2px;
        bottom: 4px;
        background-color: var(--orange);
    }

    .mezzo_player--progress_bar::before {
        background-color: var(--orange);
        width: var(--range-progress);
        height: 5px;
      }

    .mezzo_player--progress_bar::-webkit-slider-thumb {
        appearance: none;
        height: 5px;
        width: 5px;
    }
}

.mezzo_player--full {
    .now_playing_progress--wrapper {
        margin: 0 auto;
        width: 500px;

    }
    .now_playing_progress--contents {
        position: relative;
        width: 100%;
    }

     .mezzo_player--progress_bar {
        --range-progress: 0;
        width: 100%;
        border: none;
        margin: 0;
        height: 3px;
        background-color: var(--border);
        appearance: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .mezzo_player--progress_bar_highlight {
        position: absolute;
        height: 3px;
        bottom: 4px;
        background-color: var(--orange);
        border-radius: 3px;
    }

    .mezzo_player--progress_bar::before {
        background-color: var(--orange);
        width: var(--range-progress);
        height: 3px;
      }

    .mezzo_player--progress_bar::-webkit-slider-thumb {
        appearance: none;
        height: 10px;
        width: 10px;
    }
}



.mezzo_player--mini {
    .now_playing_volume--wrapper {
        grid-area: volume;
        align-self: center;
    }

    .now_playing_volume--contents {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .now_playing_volume--button {
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--text-label)
    }

    .now_playing_volume--volume_bar {
        appearance: none;
        height: 2px;
        background-color: var(--border);
        cursor: pointer;
    }

    .now_playing_volume--volume_bar::before {
        background-color: var(--orange);
    }

    .now_playing_volume--volume_bar::-webkit-slider-thumb {
        appearance: none;
        height: 10px;
        aspect-ratio: 1;
        border-radius: 10px;
        background-color: var(--orange);
    }
}

.mezzo_player--full {
    .now_playing_volume--wrapper {
        grid-area: volume;
        align-self: center;
    }

    .now_playing_volume--contents {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .now_playing_volume--button {
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--text-label)
    }

    .now_playing_volume--volume_bar {
        appearance: none;
        height: 2px;
        background-color: var(--border);
        cursor: pointer;
    }

    .now_playing_volume--volume_bar::before {
        background-color: var(--orange);
    }

    .now_playing_volume--volume_bar::-webkit-slider-thumb {
        appearance: none;
        height: 10px;
        aspect-ratio: 1;
        border-radius: 10px;
        background-color: var(--orange);
    }
}

.loop--active {
    color: var(--orange)
}


.now_playing_modal--close {
    position: absolute;
    right: 130px;
    top: 80px;
    font-size: 25px;
    color: var(--text-body);
    cursor: pointer;
}


.now_playing_modal--close:hover {
    opacity: .5;
}

@media screen and (max-width: 1110px) {
    .mezzo_player--mini {
        grid-template-columns: 200px auto;
        width: 90%;
        grid-template-areas:
            "controls display"
        ;
        gap: 20px;

        .now_playing_controls--wrapper{
            justify-content: flex-start;
        }

        .now_playing_volume--wrapper {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .mezzo_player--mini {
        grid-template-columns: 50px auto;
        grid-template-areas:
            "controls display"
        ;
        gap: 0px;
        width: 100%;
        padding: 10px 5% 10px 0;
        position: absolute;
        bottom: 0;
        z-index: 100;
        background-color: white;
        border-top: 1px solid var(--border);



        .skip,
        .repeat {
            display: none;
        }
    }

    .mezzo_player--full {
        .now_playing_player--image {
            height: 300px;
        }

        .now_playing_progress--wrapper {
            margin: 0 auto;
            width: 300px;

        }
    }

    .now_playing_modal--close {
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: 25px;
        color: var(--text-body);
        cursor: pointer;
    }
}
