@import url('../../index.css');

#landing--wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing_nav--wrapper {
    padding: 15px 30px;
    position: absolute;
    width: 100%;
}

.landing_nav--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing_nav--logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.landing_nav--logo img {
    height: 35px;
}

.landing_nav--logo span {
    font-size: 20px;
    font-weight: 600;
}

.landing_main--wrapper {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 15%;
}

.landing_nav--actions,
.landing_main--actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.landing_main--contents {
    width: 400px;

}

.landing_main--contents h1 {
    font-size: 65px;
    line-height: 65px;
    margin: 0 0 15px 0;
    color: var(--text-heading)
}

.landing_main--contents p {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 30px 0;
    color: var(--text-body)
}
