@import url('../../index.css');

#landing--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #FCFCFC;
}

.landing--image {
}

.landing_nav--wrapper {
    padding: 15px 30px;
    position: absolute;
    width: 100%;
}

.landing_nav--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing_nav--logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.landing_nav--logo img {
    height: 35px;
}

.landing_nav--logo span {
    font-size: 20px;
    font-weight: 600;
}

.landing_main--wrapper {
    flex: 1;
    flex-shrink: 0;
    width: 1110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* padding: 0 15%; */
}

.landing_nav--actions,
.landing_main--actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.landing_main--contents {
    width: 400px;

}

.landing_main--contents h1 {
    font-size: 65px;
    line-height: 65px;
    margin: 0 0 15px 0;
    color: var(--text-heading)
}

.landing_main--contents p {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 30px 0;
    color: var(--text-body)
}


.landing--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    border-top: 1px solid var(--border);
    padding: 30px 0;
    margin: 0 auto;
}

.landing--socials {
    display: flex;
    align-items: center;
    gap: 30px;
}

.landing--repo,
.landing--technology-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    border: 1px solid var(--border);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--text-label)
}

.landing--repo,
.landing--socials {
    color: var(--orange)
}

.landing--repo {
    cursor: pointer;
    text-decoration: none;
}
.landing--repo:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: white;
}

.landing--technologies {
    display: flex;
    align-items: center;
    gap: 15px;
}

.landing--socials a {
    color: var(--orange);
    cursor: pointer;
}

.landing--socials a:hover {
    color: var(--orange-hover)
}
