@import url('../../index.css');

.now_playing--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 45px;
}



.now_playing_player--name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    /* flex-direction: column; */
    justify-content: center;
}

.now_playing_player--song {
    margin: 0;
    font-size: 12px;
    color: var(--text-body);
    font-weight: 600;
}

.now_playing_player--artist {
    margin: 0;
    font-size: 12px;
    color: var(--orange);
    cursor: pointer;
}

.now_playing_player--artist:hover {
    text-decoration: underline;
}

.now_playing_player--wrapper {
    display: flex;
    align-items: center;
    height: 45px;background-color: var(--background);
    width: 55%;
    border: 1px solid var(--border);
    border-radius: 5px;
    justify-content: space-between;
}

.now_playing_player--expand {
    padding: 8px 12px 12px 12px;
    aspect-ratio: 1;
    font-size: 20px;
    color: var(--text-label);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.now_playing_player--expand:hover {
    color: var(--text-body);
}

.now_playing_player--image {
    height: 45px;
    aspect-ratio: 1;
    background-color: var(--placeholder);
    background-position: center;
    background-size: cover;
    border-radius: 5px 0 0 5px;
    background-repeat: no-repeat;
}



.now_playing_modal--wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 450;
    background-color: var(--orange-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.now_playing_model--close {
    position: absolute;
    right: 180px;
    top: 120px;
    font-size: 25px;
    color: var(--text-body);
    cursor: pointer;
}

.now_playing_model--close:hover {
    opacity: .5;
}

.now_playing_modal--image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    border-radius: 10px;
    margin: 0 auto;
}

.now_playing_modal--text {
    width: 300px;
    padding: 50px 0 25px 0;
}

.now_playing_modal--text h1 {
    font-size: 25px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.now_playing_modal--text h2 {
    margin: 0;
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    opacity: .75;
}



.now_playing_modal--slider {
    width: 600px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.now_playing_modal--slider span {
    position: absolute;
    font-size: 12px;
    bottom: -20px;
}

.now_playing_modal--slider span:first-of-type {
    left: 0;
}

.now_playing_modal--slider span:last-of-type {
    right: 0;
}

.now_playing_modal--bar {
    height: 3px;
    width: 100%;
    background-color: white;
    opacity: .5;
}

.now_playing_model--node{
    height: 5px;
    aspect-ratio: 1;
}
