@import '../../index.scss';

.aside--wrapper {
    grid-area: aside;
    padding: .5rem 0;
    z-index: 10;
}

.aside--group {
    padding: 1rem;
}

.aside--title {
    font-weight: 600;
}

.aside--list {
    padding: 1rem 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: 0;
}

.aside_item--wrapper {
    padding: .5rem;
    gap: .5rem;
    transition: all .2s;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: $selected;
    }
}

.aside_item--selected {
    background-color: $selected;
    font-weight: 600;
}

.aside_item--icon {
    font-size: 1rem;
    height: 1.15rem;
    aspect-ratio: 1;
    color: $main;
}

.aside_item--label {
    font-size: .85rem;
}
