@import '../../index.scss';

.songs--header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
    "name name name artist artist genre genre time";
}

.songs--header--open {
    padding-right: 2.5rem !important;
}

.songs--list {
    padding-right: 0 !important;
}

.song--name {
    grid-area: name;
}

.song--artist {
    grid-area: artist;
}

.song--genre {
    grid-area: genre;
}

.song--time {
    grid-area: time;
}
